* {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

body { background-image: url("../assets/bg.png"); }

td { text-align: left; }

h1 { font-size: 2.4vmin; }

h2 { font-size: 2.0vmin; }

img {
    max-height: 100%;
    max-width: 100%;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
}

.inner{
    display: table-cell;
    vertical-align: middle;
}

.grid {
    vertical-align: middle;
    display: inline-grid;
    grid-template-columns: auto auto;
}

.grid-item {
    -webkit-box-shadow: 10px 10px 54px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 54px 4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 54px 4px rgba(0,0,0,0.75);
    background-color: black;
    width: 30vw;
    height: 36vh;
    overflow: hidden;
}

.profile-info {
    text-align: left;
    margin: 0% 10% 0% 10%;
    font-size: 1.6vmin;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 0;
}

#intro>div {
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    padding: 1%
}

#intro>div:nth-child(1) {
    display: flex;
    flex: 75%;
    justify-content: center;
    align-items: flex-end;
}

#intro>div:nth-child(2) {
    flex: 25%;
}

#app-info {
    border-spacing: 2vh;
    margin: 0 auto;
    font-size: 1.6vmin;
}