* {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

body { background: #D6D6D6 }

td { text-align: left; }

h1 { font-size: 3vmin; }

h2 { font-size: 2.4vmin; }

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
}

.inner{
    display: table-cell;
    vertical-align: middle;
}

.grid {
    vertical-align: middle;
    display: inline-grid;
    grid-template-columns: auto auto;
}

.grid-item {
    -webkit-box-shadow: 10px 10px 54px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 54px 4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 54px 4px rgba(0,0,0,0.75);
    background-color: black;
    width: 40vw;
    height: 40vh;
    overflow: hidden;
}

.profile-info {
    text-align: left;
    margin: 0% 10% 0% 10%;
    font-size: 1.8vmin;
}

.pic {
    max-height: 200px;
    max-width: 200px;
}


.icon {
    max-height: 32px;
    max-width: 32px;
}

#intro {
    display: grid;
    grid-template-rows: 70% 30%;
}

#intro>div {
    padding: 1%;
}

#intro>div:nth-child(1) {
    display: grid;
    justify-content: center;
    align-items: end;
}

#intro>div:nth-child(2) {
    display: grid;
    grid-template-columns: auto min(33%, 100px) auto;
}

#app-info {
    border-spacing: 2vh;
    margin: 0 auto;
    font-size: 1.8vmin;
}

#control-info>h2 {
    margin-bottom: 0;
}

#github {
    display: grid;
    justify-content: right;
}

#linkedin {
    display: grid;
    justify-content: center;
}

#resume {
    display: grid;
    justify-content: left;
}