* {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

body {
    background-image: url("../assets/bg.png");
}

td {
    text-align: left;
}

h1 {
    font-size: 1.2vw;
}

h2 {
    font-size: 1.0vw;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.inner{
    display: table-cell;
    vertical-align: middle;
}

.grid {
    vertical-align: middle;
    display: inline-grid;
    grid-template-columns: auto auto;
}

.grid-item {
    -webkit-box-shadow: 10px 10px 54px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 54px 4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 54px 4px rgba(0,0,0,0.75);
    background-color: black;
}

.profile-info {
    text-align: left;
    margin: 0% 10% 0% 10%;
    font-size: 0.75vw;
}

#profile {
    display: inline-block;
    height: auto;
}

#profile * {
    margin-top: 4%
}

#test {
  max-width: 100%;
  height: auto;
}

#intro {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center
}

#app-info {
    border-spacing: 20px;
    margin: 0 auto;
    font-size: 0.75vw;
}